body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #aee4e6, #ffecb8);
    color: #333;
    transition: background 0.5s ease-in-out;
}

h3 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

h3.show {
    opacity: 1;
    transform: translateY(0);
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to right bottom, #ffffff, #d4e6f1);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease-in-out, background 0.5s ease-in-out;
}

form:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.7);
    background: linear-gradient(to right bottom, #d4e6f1, #ffffff);
}

input, button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button {
    background: linear-gradient(to right, #56CCF2, #2F80ED);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

label {
    color: #555;
}

/* Additional styling for the search form */
#search {
    width: 80%;
}

/* Unique shape for forms */
form:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #ffffff transparent;
}

/* Form entry animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input, button {
    animation: fadeIn 0.5s ease-in-out;
}
/* Add this to your existing CSS file or create a new one */

.result {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.result p {
    margin: 0;
    color: #333;
}

.result .username {
    font-weight: bold;
    color: #3498db; /* Custom color for the username */
}

.result .comment {
    margin-top: 10px;
    color: #555;
}

.result .timestamp {
    margin-top: 5px;
    color: #777;
}
